<h1>J's Quotes</h1>
<div class="container">
  <div class="row">
    <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
  </div>
</div>
<div class="container">
  <div class='row' *ngFor='let quote of quotes;let i = index'>
    <div class="row">
    <h1></h1>
    <h2 id='{{i}}'>'{{quote.sentence}}'</h2>
      <button (click)='upVote()'>Upvote</button>
      <button (click)='deleteQuote()'>Delete</button>
      <button (click)='downVote()'>Downvote</button>
    </div>
    <!-- <div class='row' *ngIf="goal.showDetails">
      <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
    </div> -->
  </div>
</div>

