h1{
  text-align: right;
  font-size:40px;
  text-decoration: underline;
}
.card{
  width: 65%;
  margin-left:auto;
  margin-right:auto;
  border: 2.5px solid #273746;
  background-color:#EAEDED;
}
hr{
  border: none;
  height: 2px;
  /* Set the hr color */
  background-color: #BDC3C7;
  /* Modern Browsers */
}
.quote{
  padding-left:40px;
  padding-right:35px;
}
#quoteArea{
  border:1.5px solid #273746;
  margin-left:30px;
  margin-right:30px;
  width:1000px;
  background-color:#EAEDED;
  margin-bottom:25px;
  text-align:center;
}
.row{
  text-align:center;
}
#detailsButton{
  margin-top:40px;
  margin-left:0px;
  float:left;
}
pre{
  font-family:Arial, Helvetica, sans-serif;
  padding:1px;
  
}
.author{
  text-align:left;
}