<h1>J's Quotes</h1>
<div class="container">
  <div class="card">
    <div class="row">
      <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class='row' *ngFor='let quote of quotes;let i = index'>
    <div class="row" id=quoteArea>
      <h3 id='{{i}}' class='quote'>'{{quote.sentence}}'</h3>
      <h4 id='{{i}}' class='author'>-{{quote.author}}</h4>
      <pre>
        <button class='btn btn-primary' id='detailsButton'(click)='toogleDetails(i)'>Quote Details</button>
        <div class='quoteDetails' *ngIf="quote.showDetails">
          <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
        </div>
      </pre>
    </div>
  </div>
</div>

